trigger:
- develop

# no PR triggers
pr: none

variables:
  tag: '$(Build.BuildId)'

jobs:
- job: BuildAndPublish
  displayName: Build and publish Docker image
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    #lfs: true
  - task: Docker@2
    displayName: Build an image
    inputs:
      containerRegistry: 'Dockerhub'
      repository: 'artsdatabanken/mapserverazure'
      command: 'build'
      Dockerfile: '**/Dockerfile'
      tags: '$(tag)'
  - task: Docker@2
    displayName: Publish image
    inputs:
      containerRegistry: 'Dockerhub'
      repository: 'artsdatabanken/mapserverazure'
      command: 'push'
      tags: '$(tag)'


  - task: AzureWebAppContainer@1
    displayName: 'Azure Web App on Container Deploy'
    inputs:
      azureSubscription: 'test-deploy-code'
      appName: 'adb-test-mapserver-as'
      containers: 'artsdatabanken/mapserverazure:$(tag)'

  # - task: AzureCLI@2
  #   inputs:
  #     azureSubscription: 'test-deploy-code'
  #     scriptType: 'pscore'
  #     scriptLocation: 'inlineScript'
  #     inlineScript: 'az webapp restart --name adb-test-mapserver-as --resource-group adb-test-mapserver-rg'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'bin'
      ArtifactName: 'drop'
      publishLocation: 'Container'

  - task: AzurePowerShell@5
    inputs:
      azureSubscription: 'test-deploy-legacy'
      ScriptType: 'InlineScript'
      Inline: |
        $IP= Invoke-RestMethod http://ipinfo.io/json | Select -exp ip     
        $IP
        Add-AzStorageAccountNetworkRule -ResourceGroupName "adb-test-mapserver-rg" -AccountName "$(storageAccountName)" -IPAddressOrRange "$IP"
      preferredAzurePowerShellVersion: '3.1.0'

  - task: AzureCLI@2
    displayName: "Upload files to Azure File Share"
    inputs:
      azureSubscription: 'test-deploy-legacy'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        echo "Uploading files from: $(Build.SourcesDirectory)/bin"
        az storage file upload-batch \
         --account-name $(storageAccountName) \
         --account-key $(storageAccountKey) \
          --source "$(Build.SourcesDirectory)/bin" \
          --destination "mapserverdata"

  - task: AzurePowerShell@5
    inputs:
      azureSubscription: 'test-deploy-legacy'
      ScriptType: 'InlineScript'
      Inline: |
        $IP= Invoke-RestMethod http://ipinfo.io/json | Select -exp ip  
        $IP  
        Remove-AzStorageAccountNetworkRule -ResourceGroupName "ResourceGroup" -AccountName "$(storageAccountName)" -IPAddressOrRange "$IP"
      preferredAzurePowerShellVersion: '3.1.0'