trigger:
- develop

# no PR triggers
pr: none

variables:
  tag: '$(Build.BuildId)'

jobs:
- job: BuildAndPublish
  displayName: Build and publish Docker image
  pool:
    vmImage: ubuntu-latest
  steps:
  - checkout: self
    #lfs: true
  - task: Docker@2
    displayName: Build an image
    inputs:
      containerRegistry: 'Dockerhub'
      repository: 'artsdatabanken/mapserverazure'
      command: 'build'
      Dockerfile: '**/Dockerfile'
      tags: '$(tag)'
  - task: Docker@2
    displayName: Publish image
    inputs:
      containerRegistry: 'Dockerhub'
      repository: 'artsdatabanken/mapserverazure'
      command: 'push'
      tags: '$(tag)'


  - task: AzureWebAppContainer@1
    displayName: 'Azure Web App on Container Deploy'
    inputs:
      azureSubscription: 'test-deploy-code'
      appName: 'adb-test-mapserver-as'
      containers: 'artsdatabanken/mapserverazure:$(tag)'

  # - task: AzureCLI@2
  #   inputs:
  #     azureSubscription: 'test-deploy-code'
  #     scriptType: 'pscore'
  #     scriptLocation: 'inlineScript'
  #     inlineScript: 'az webapp restart --name adb-test-mapserver-as --resource-group adb-test-mapserver-rg'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'bin'
      ArtifactName: 'drop'
      publishLocation: 'Container'

  - task: AzureCLI@2
    displayName: "Upload files to Azure File Share"
    inputs:
      azureSubscription: 'test-deploy-legacy'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        echo "Uploading files from: $(Pipeline.Workspace)/drop/bin"
        az storage file upload-batch \
         --account-name $(storageAccountName) \
         --account-key $(storageAccountKey) \
          --source "$(Pipeline.Workspace)/drop/bin" \
          --destination "mapserverdata" \
          --overwrite